//Variables
$primary-size: 1em;
$secondary-size: 2em;
$font1: sans-serif;
$font2: sans;
$math-change: .5;
$primary-color: #f5f0f2;
$secondary-font-color: lighten(#fcfcfc, 20%);
$primary-font-color: darken(#707070, 10%);
$secondary-color: #3a3a3a;


//Mixins
@mixin font-rule1 {
    font-family: $font1;
    font-weight: 300;
    font-style: normal;
}

@mixin font-rule2 {
    font-family: $font2;
    font-style: normal;
    font-weight: 200;
}

@mixin placement-rule1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

